.container-head{
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	-webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	z-index: 200;
    background-color:#f6f6f6;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}

.logo{
    position: absolute;
     color: #d34e4c;
    left: 50%;
    top: 10px;
	font-size: 25px;
	font-weight: bold;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
   	-webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
}
.logo:hover{
	-webkit-transform: translateX(-50%) scale(1.03);
	-moz-transform: translateX(-50%) scale(1.03);
	-ms-transform: translateX(-50%) scale(1.03);
	-o-transform: translateX(-50%) scale(1.03);
}
#toggleSidebar{
	position: relative;
	top: 10px;
}

.headline {
height:auto;
}

.c {float:left;}
.c_01 {
margin-left:20%;
}
.c_02 {
margin-top:5px;
margin-left:40%;
}
.c_03 {
margin-top:10px;
margin-left:10px;
}

.login_info {
font-family: 'Open Sans', sans-serif;
color: #353535;
}
.list-title{
    width:170px;
}

#logo{
    z-index:220;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

#logo a {
	display: block;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	-webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
}

#logo a:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.form-control{ box-shadow:none; border-color:#eee;}
.form-control:focus{ box-shadow:none; border-color:#d34e4c;}

.akcord {
    padding-top:50px;
}

.titleinfo{
    color: #888;   
}

.carousel-control {
	background-image: none;
}

.jumbotron{
	margin-bottom: 0px;
    background-image: url(http://192.168.18.60/akcord_project/doc/img/main6.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.dropdown-menu {
    width: 300px !important;
    overflow: auto;
}

.content-main {
	white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.content-myroom { 
	display: inline-block;
	height:120px;
	overflow: hidden; 
	text-overflow: ellipsis;
}

.fa-gear {
       color: #757171;
}