div.panel-group{
    width:200px;
    height:40px;

}

li .list-group{
    margin-left:-15px;
   margin-right:-15px;
    width:200px;
}
/* 세부 메뉴 색상 설정 */
li .list-group-item{
    background-color:#f6f6f6;

}

.panel-group{
    z-index:9999999;

}

a:active{
    background-color:aqua;
}

#group{
    overflow:hidden;
}

.panel-group{
    float:left;
}

/* 헤드 크기 및 색상 설정*/
div.container-head{
    width:80%;
    height:70px;
    background-color:#f6f6f6;
    overflow:hidden;
    margin-left:20%;
}

#login-btn{
    margin-top:20px;
}
#bell-btn{
    margin-top:20px;
}

.form-control{ box-shadow:none; border-color:#eee;}
.form-control:focus{ box-shadow:none; border-color:#d34e4c;}