div.panel-group{

    height:auto;
    background-color:#f6f6f6;
    z-index:9999999;
    position:absolute;
    float:left;
    overflow:hidden;
}
 

/* 세부 메뉴 색상 설정 */
li .list-group-item{
    background-color:#f6f6f6;

}

#group{
      overflow:hidden;
}


/* 헤드 크기 및 색상 설정*/
div.container-head{
    height:auto;
    background-color:#f6f6f6;
    overflow:hidden;

}

.headline {
height:auto;
}

.c {float:left;}
.c_01 {
margin-left:20%;
}
.c_02 {
margin-top:5px;
margin-left:40%;
}
.c_03 {
margin-top:10px;
margin-left:10%;
}

.list-title{
    width:170px;
}