<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
    <properties resource="com/akcord/config/mybatis/dbinfo.properties"/>
    <typeAliases>
        <typeAlias alias="noticeDto" type="com.akcord.admin.model.NoticeDto"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/akcord/config/mybatis/notice.xml"/>                 
    </mappers>
    
</configuration>

